<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Quiz created
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/assets/css/now-ui-dashboard.css?v=1.5.0" rel="stylesheet" />
  <link href="/assets/demo/demo.css" rel="stylesheet" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
.logo-main{
    font-family: 'Slabo 27px', serif;
   color:white;
   margin-top: 1px;
   margin-left: 50%;
   font-size: 50px;
   font-synthesis: none;

}
.tagline{
    font-size: 10px;
}
#main-panel{
    background-color: rgba(248, 147, 110, 0.87);
}
.container{
    border: 2px solid red;
   
    margin: 20%;
    margin-top: 10px;
    padding: 5%;
    background-color: white;
    color: orangered;
    border-radius: 50px;
}
h1{
    color: green;
}
</style>
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="red">
      <div class="logo">
        <a href="/" class="simple-text logo-normal">
          AcadE
        </a>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li class="active">
            <a href=<%= "/createquiz"+link %>>
              <p>Create quiz</p>
            </a>
          </li>
          <li>
            <a href=<%= "/takequiz"+link %>>
              <p>Take quiz</p>
            </a>
          </li>
          <li>
            <a href=<%= "/createquizhistory"+link %>>
              <p>Create quiz history</p>
            </a>
          </li>
          <li>
            <a href=<%= "/createassignment"+link %>>
              <p>Create Assignment</p>
            </a>
          </li>
          <li>
            <a href=<%= "/takeassignment"+link %>>
              <p>Take Assignment</p>
            </a>
          </li>
          <li>
            <a href=<%= "/createassignmenthistory"+link %>>
              <p>Create Assignment History</p>
            </a>
          </li>

          <li>
            <a href=<%= "/user"+link %>>
              <p>User Profile</p>
            </a>
          </li>
          <li>
            <a href=<%= "/resources"+link %>>
              <p>Resources</p>
            </a>
          </li>
          <li>
            <a href="/">
              <p>Log Out</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel" id="main-panel">
        <div class="logo-main">
            AcadE
            <div class="tagline">
                acadamic evaluation from anywhere!
            </div>
            </div>
        <div class="container">
            
            <h1>Quiz created Successfully </h1>
            <h3>your quiz code is <%=code%></h3>
            <p>share this code to the ones who want to particepate in the quiz. good luck!</p>
            
        </div>
      </div>
  <script src="/assets/js/core/jquery.min.js"></script>
  <script src="/assets/js/core/popper.min.js"></script>
  <script src="/assets/js/core/bootstrap.min.js"></script>
  <script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <script src="/assets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
      demo.initDashboardPageCharts();

    });
  </script>
</body>

</html>