<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content=<%= redlink%> />
    <title><%=Choice%></title>
	<link href="https://fonts.googleapis.com/css?family=Quicksand:700" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/css/ErrorPagecss/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="/css/ErrorPagecss/style.css" />
</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-bg">
				<div></div>
				<div></div>
				<div></div>
			</div>
			<h1 id=<%=err %> ><%=err%></h1>
			<h2><%= description %></h2>
		</div>
	</div>

</body>

</html>
